
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase"> URL İşlemleri</span>
                </div>
            </div>
            <div id="Div_UrlActionForm" class="portlet-body form">
            </div>
            <div class="row">
                <div id="Div_UrlListTable" class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        UrlListTable();
        UrlActionForm();
    });

    function UrlActionForm(ResourceId) {
        $.post("@Url.Action("GetUrlActionForm","UrlAction")", { ResourceId: ResourceId },
            function (data, textStatus, jqXHR) {
                $('#Div_UrlActionForm').empty().append(data);
            }
        );
    }


    function UrlListTable() {
        $.post("@Url.Action("GetUrlDefinitionList","UrlAction")",
            function (data, textStatus, jqXHR) {
                $('#Div_UrlListTable').empty().append(data);
            }
        );
    }


    function DeleteUrlDefinition(ResourceId) {
        Swal.fire({
            title: 'Uyarı',
            text: 'Seçilen URL Tanımı silmek istediğinize emin misiniz?',
            showConfirmButton: false,
            showDenyButton: true,
            showCancelButton: true,
            denyButtonText: `Evet, sil`,
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isDenied) {
                $.post("@Url.Action("DeleteUrlDefinition","UrlAction")", { ResourceId: ResourceId },
                    function (data, textStatus, jqXHR) {
                        UrlListTable();
                    }
                );
            }
        })
    }


</script>